@model CustomerDetailsApp.ViewModels.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Customers" asp-action="Create">
    <partial name="_Fields"></partial>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
